/*global start*/
body{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    margin: 0px;
}


.Button{
    text-decoration: none;
    color: white;
    font-weight:700px;
    background-image:linear-gradient( to right, rgb(241, 140, 122), rgb(253, 61, 125));
    padding: 20px 40px;
    border-radius: 10px;
   
    
}

h1{
    font-size: 50px; 
    color:rgb(63, 62, 62)
}


p{
   padding-bottom: 20px; 
   color:black;  
}

.tomato_color{
    color: rgb(253, 167, 62);;
}

/*global end*/





/*navbar section start*/
.mainParents{  
    display:flex;
    padding-top:5px;
    padding-left: 100px;
    padding-bottom:5px;
    box-shadow: 10px 10px 40px gray;
}

.navChild a{
    text-decoration: none;
    color:black    
}

#navButton{
    color:white;
}


/*navbar section end*/







/*Hero section start*/
.hero .container .left_side p{
    color:black;
    padding-right:200px;
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 20px;
}

.hero .container .left_side h1{
    padding-left:10px;
}




.hero .container{
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    margin-right:100px;  

}
.left_side{
    width:50%;
    padding-top: 100px;
    padding-right:2%;    
}

.right_side{
    width:50%;    
}
.hero .container .left_side .hero-border{
    border-left: 3px solid;
    border-image: linear-gradient(rgb(241, 140, 122), rgb(253, 61, 125));
    border-image-slice: 1;
    border-radius: 10px;
}

/*Hero section End*/




/*Mission Section Start*/
.mission{
    text-align:center;
    margin-left:400px;
    margin-right:400px;
    margin-bottom: 60px;
    font-weight: bold;
    
}

/*Mission Section End*/



/*Mission2 Section Start*/
.mission_title{
    display:flex;
    margin-left:180px;
    margin-right:180px;
}

.mission_img{
    height: 150px;
    width:160px;
    
}

h2{
    font-weight: bold;
}
.mission_items{
    width:70%;
    margin-left:1%;
    margin-right:1%;
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:0;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
    
}

.mission_item1{
    background-color:rgb(239, 250, 253);
}

.mission_item2{
    background-color: rgb(255, 236, 236);
}

.mission_item3{
    background-color: rgb(253, 252, 177);  
}
/*Mission2 Section End*/







/*Develop section start*/

.Container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 100px;
    
}

.left-part{
    width:40%;
    padding-left:13%;
    
}

.right-part{
    width:60%;
    padding-right: 10%;
    padding-top: 3%;

}

#develop{
    font-size:xx-large;
    font-weight: bolder;
}

/*Develop section end*/



/*Global communication section start*/

.global-communication{
    display: flex;
    margin-bottom: 100px;
    
    
}

.left-part2{
    width:60%;
    padding-left:13%;
    padding-top: 3%;
}

.right-part2{
    width:40%;
    padding-right: 10%;
    
    

}

#communication{
    font-size:xx-large;
    font-weight: bolder;
}

/*Global communication section end*/


/*Social Media Information start*/
.faq{
    text-align:center;
    margin-left:400px;
    margin-right:400px;
    font-weight: bold;
    
}



.information{
    margin-top:50px;
    margin-left:260px;
    margin-right:200px;
    
    display:flex;
    padding-top:20px;
    padding-left: 20px;
    padding-right:20px;
    padding-bottom:0px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

.informations{

    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    
}


.details{
    color:rgb(10, 10, 10)   
}

/*Social Media Information end*/



/*footer start*/
footer{
    margin-top:100px;
    padding-top:25px;
    padding-bottom: 60px;
    background-color:black ;
    text-align: center;
}
.tomato_color{
    color:tomato;
}
#white_color{
    color:white;
}

footer p{
    color:white;
}

/*footer end*/







